# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs
*.code-workspace

/app

.thumbs/

exts/siborg.utils.retarget/data/*
!exts/siborg.utils.retarget/data/rigs/